* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav>div{
    margin: 0 0 45px;
    /* background: blue; */
    width: 100%;
    vertical-align: baseline;
}

  .nav {
      display: flex;
      flex-direction: column;
      flex: start;
      width: 100px;
      height: 100vh;
      align-items: center;
      color: rgb(255, 255, 255);
      background-image: linear-gradient(0deg, rgb(131, 0, 67), rgb(137, 37, 0));
      box-shadow: rgba(0, 0, 0, 0.1) 10px 0px 20px 0px, rgba(0, 0, 0, 0.2) 5px 0px 5px;
      position: fixed;
      top: 0;
      left: 0;
      padding-top: 20px;
  }

  .username{
      padding-top: 10px;
  }

  .profile {
      /* margin: 20px; */
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100px;
      width: 100%;
      justify-content: space-between;
      /* background: green; */
  }

  .home-post{
      display: flex;
      flex-direction: column;
      height: 120px;
      justify-content: space-between;
      align-items: center;
      /* background: rgb(0, 255, 21); */
  }

  a{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  .home-btn, .post-btn{
    /* margin: 20px; */
    width: 40px;
    /* background: pink; */
  }

  .logout-btn {
    position: absolute;
    bottom: 20px;
    left: 30px;
    width: 40px;
}

  .pic {
      width: 70px;
      /* height: 90px; */
      border-radius: 50%;
      background-color: rgb(24, 26, 27);
      box-shadow: rgb(48, 51, 54) 0px 0px 20px;
      background-position: 50%;
  }

  .nav-buttons{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      /* margin: 16px; */
  }